{% extends "educate/layout.html" %}

{% block main %}
    <main id="main" class="site-main">
        <section class="site-section-small section-blog">

            <div class="container">

                <div class="text-center">

                    <h1 class="section-title-big">Courses</h1>
                    <p class="section-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                </div>

                <ol class="breadcrumb">
                    <li><a href="{% url 'educate:index' %}">Home</a></li>
                    <li class="active">Courses</li>
                </ol><!-- /.breadcrumb -->

                <div class="row">

                    <div class="col-md-9">

                        <div class="blog-post">
                            <div class="post-content">

                                <h3><a class="post-title" href="blog-post.html">Is Passion Good For Business?</a></h3>
                                <ul class="post-meta list-unstyled">
                                    <li><a href="#">Business</a></li>
                                    <li><a href="#">Feb 12, 2017</a></li>
                                    <li><a href="blog-post.html#Comments">2 Comments</a></li>
                                </ul><!-- /.post-meta -->

                                <p class="section-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                            </div><!-- /.post-content -->

                        </div><!-- /.blog-post -->


                        <div class="blog-post">

                            <!-- <div class="post-img-slider">
                                <img class="img-carousel post-img" src="../../static/educate/img/portfolio-5.jpg" alt="">
                                <img class="img-carousel post-img" src="../../static/educate/img/portfolio-2.jpg" alt="">
                                <img class="img-carousel post-img" src="../../static/educate/img/portfolio-3.jpg" alt="">
                                <img class="img-carousel post-img" src="../../static/educate/img/portfolio-4.jpg" alt="">
                            </div><!-- /.post-img-slider -->

                            <div class="post-content">

                                <h3><a class="post-title" href="blog-post.html">What is Your Most Successful Hiring Strategy?</a></h3>
                                <ul class="post-meta list-unstyled">
                                    <li><a href="#">Corporate</a></li>
                                    <li><a href="#">Sept 19, 2016</a></li>
                                    <li><a href="blog-post.html#Comments">15 Comments</a></li>
                                </ul><!-- /.post-meta -->

                                <p class="section-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><!-- /.section-text -->

                            </div><!-- /.post-content -->

                        </div><!-- /.blog-post -->

                        <div class="blog-post">

                            <!-- <iframe src="https://player.vimeo.com/video/88989456" width="100%" height="420" allowfullscreen></iframe> -->

                            <div class="post-content">

                                <h3><a class="post-title" href="blog-post.html">Creative Business Cup </a></h3>
                                <ul class="post-meta list-unstyled">
                                    <li><a href="#">Creative</a></li>
                                    <li><a href="#">Dec 24, 2016</a></li>
                                    <li><a href="blog-post.html#Comments">11 Comments</a></li>
                                </ul><!-- /.post-meta-->

                                <p class="section-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><!-- /.section-text -->

                            </div><!-- /.post-content -->

                        </div><!-- /.blog-post -->

                        <div class="blog-post">

                            <div class="post-content mt-0">

                                <h3><a class="post-title" href="blog-post.html">No Img only Title Post</a></h3>
                                <ul class="post-meta list-unstyled">
                                    <li><a href="#">Business</a></li>
                                    <li><a href="#">Sept 19, 2016</a></li>
                                    <li><a href="blog-post.html#Comments">15 Comments</a></li>
                                </ul><!-- /.post-meta -->

                                <p class="section-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><!-- /.section-text -->

                            </div><!-- /.post-content -->

                        </div><!-- /.blog-post -->

                        <div class="blog-post">

                            <div class="post-content mt-0">

                                <h3><a class="post-title" href="blog-post.html">No Img only Title Post</a></h3>
                                <ul class="post-meta list-unstyled">
                                    <li><a href="#">Business</a></li>
                                    <li><a href="#">Sept 19, 2016</a></li>
                                    <li><a href="blog-post.html#Comments">15 Comments</a></li>
                                </ul><!-- /.post-meta -->

                                <p class="section-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><!-- /.section-text -->

                            </div><!-- /.post-content -->

                        </div><!-- /.blog-post -->


                        <!-- <div class="text-center">
                            <ul class="pagination">
                                <li><a href="#"><<</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">></a></li>
                                <li><a href="#">>></a></li>
                            </ul><!-- /.pagination -->
                        <!-- </div><!-- /.text-center -->

                    </div>

                    <aside class="col-md-3">

                        <div class="sidebar">

                            <div class="widget search-form">
                                <form>
                                    <input class="form-control" type="search" placeholder="Search">
                                    <button type="submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </form>
                            </div><!-- /.search-form -->

                            <div class="widget widget-latest-posts">
                                <h4 class="widget-title">Latest Posts</h4>

                                <ul class="list-unstyled posts-list">
                                    <li>
                                        <a href="blog-post.html">
                                            <div class="widget-thumb">
                                                <img class="img-carousel" src="../../static/educate/img/portfolio-7.jpg" alt="">
                                            </div>
                                            <div class="widget-post-info">
                                                <h4 class="widget-post-title">Business Perfect is the best Free Theme</h4>
                                                <p class="widget-post-date">Sep 25, 2015</p>
                                            </div><!-- /.widget-post-info -->
                                        </a>
                                    </li><!-- /.latest-post -->

                                    <li>
                                        <a href="blog-post.html">
                                            <div class="widget-thumb">
                                                <img class="img-carousel" src="../../static/educate/img/portfolio-8.jpg" alt="">
                                            </div>
                                            <div class="widget-post-info">
                                                <h4 class="widget-post-title">We provide unique solutions</h4>
                                                <p class="widget-post-date">Sep 23, 2015</p>
                                            </div><!-- /.widget-post-info -->

                                        </a>
                                    </li><!-- /.latest-post -->

                                    <li>
                                        <a href="blog-post.html">
                                            <div class="widget-thumb">
                                                <img class="img-carousel" src="../../static/educate/img/portfolio-9.jpg" alt="">
                                            </div>
                                            <div class="widget-post-info">
                                                <h4 class="widget-post-title">We are creative minds</h4>
                                                <p class="widget-post-date">Sep 22, 2015</p>
                                            </div><!-- /.widget-post-info -->
                                        </a>
                                    </li><!-- /.latest-post -->
                                </ul>
                            </div><!-- /.widget-latest-posts -->

                        </div><!-- /.sidebar -->

                    </aside>

                </div>

            </div>

        </section><!-- /.section-blog -->
    </main><!-- /.site-main -->

{% endblock main %}
